/* GENERAL STYLING*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DBCF96;
  font-family:'Courier New', Courier, monospace;
}

.grid-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, 13vh);
  grid-gap: 10px;
  margin: 10px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.cell-container {
  width: 100%;
  height: 100%;
  position: relative; 
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.clicking {
  transform: rotateY(180deg);
}


.frontside {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5 ease;
  border: 1px solid grey;
  border-radius: 5%;
  background: no-repeat url('/accs/cover3.jpg') center;
  backface-visibility: hidden;
  box-shadow: 10px 5px 5px grey;
}

.backside {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #F2F5EA;
  border: 1px solid grey;
  border-radius: 5%;
  font-size: 5vh;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px grey;
}

.hide {
  visibility: hidden;
}

h2 {
  text-align: center;
  font-style: bold;
  font-size: 4vh;
}





