/* GENERAL STYLING*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, 150px);
  grid-gap: 10px;
  margin: 10px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.cell-container {
  width: 100%;
  height: 100%;
  position: relative; 
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card:hover {
  transform: rotateY(180deg);
}


.frontside {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5 ease;
  border: 1px solid green;
  background-color: lightblue;
  font-size: 3rem;
  backface-visibility: hidden;
}

.backside {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid green;
  background-color: lightgreen;
  font-size: 3rem;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Creating the flip effect */




